body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 25%), rgba(0, 0, 0, 20%)), url(freepik__upload__15872.jpeg);
    background-size: cover;
}

.container {
    text-align: center;
    width: 50%;
}

h1 {
    font-family: fangsong;
    font-size: xxx-large;
}

div.contbox {
    display: flex;
    align-items: center;
    width: 40rem;
    justify-content: space-around;
}

.leftcont p {
    font-size: 1.5rem;
}

#wordDisplay {
    font-size: 24px;
}

div#letters {
    width: 33rem;
    margin: auto;
}

div#message {
    font-size: 1.3rem;
}

#letters button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #E91E63;
    color: white;
    border: none;
    border-radius: 5px;
}

#letters button:disabled {
    background-color: #ff9800;
}

#resetBtn {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #672f42;
    color: white;
    border: none;
    border-radius: 5px;
}

#nextWordBtn {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #833f56;
    color: white;
    border: none;
    border-radius: 5px;
}